<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link href="~/Content/Painting.css" rel="stylesheet" />
     <link href="~/Content/Artist.css" rel="stylesheet" />
     <link href="~/Content/site.css" rel="stylesheet" />
     <link href="~/Content/Index.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
