


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}


.painting-container {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 60%;
    height: auto;
    margin: 50px 0 0 0;
}


.image-div {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.image {
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5EEDC;
    width: 40%;
}

.details-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
}

.artist-name {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
}

span {
    padding: 10px;
}
